<!DOCTYPE html>
<html>
<head>
    <title><%= title %> | DFS Simulator</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <%- include("partials/header") %>
    <%- include("partials/messages") %>

    <main class="container">
        <%- body %>
    </main>
    <script src="/js/script.js"></script>
</body>
</html>
